<h1> Update Your Place</h1>

<%= simple_form_for current_place do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :address %>
  <%= f.submit 'Update!' %>
<% end %>

