<h1>All the Places</h1>

<% @places.each do |place| %>
  <%= link_to place.name, place_path(place) %><br />
  <%= place.description %><br />
  <%= place.lat %> <br />
  <%= place.lng %> <br />
  <% if place.user.present? %>
    Added by: <%= place.user.email %><br />
  <% end %>

  <hr />
<% end %>

<%= link_to 'New Place', new_place_path %>
