<div class="col-xs-offset-1 xs-col-10">
  <h1><%= current_place.name %></h1>

  <%= current_place.description %><br />
  <%= current_place.address %> <br />


  <style>
    #map-canvas {
      height: 200px;
      width: 900px;
      margin: 20px auto;
      padding: 0px;

    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
$(function() {
/* largely copied from: https://developers.google.com/maps/documentation/javascript/examples/marker-simple */



var myLatlng = new google.maps.LatLng(<%= current_place.latitude%>,<%= current_place.longitude %>);
var mapOptions = {
  zoom: 13,
  center: myLatlng
}

var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    <% if current_place.latitude.present? && current_place.longitude.present? %>
      var ll = new google.maps.LatLng(<%= current_place.latitude %>,<%= current_place.longitude %>);

      var marker = new google.maps.Marker({
        position: ll,
        map: map,
        title: 'Place'
      });
  <% end %>




});



</script>



<div id="map-canvas"></div>



  <% if current_place.user.present? %>
    Added by: <%= current_place.user.email %><br />
  <% end %>


  <h2>Add a comment</h2>
  <%= simple_form_for @comment, :url => place_comments_path(current_place) do |f| %>
    <%= f.input :message %>
    <%= f.input :rating, :as => :select, :collection => Comment::RATINGS %>

    <%= f.submit 'Add your comment' %>
  <% end %>

  <%= link_to '<< Back', places_path %>

  <% if current_user && current_user.can_edit?(current_place) %>
    <%= link_to 'edit', edit_place_path(current_place) %>
    <%= link_to 'destroy', place_path(current_place), :method => :delete %>
  <% end %>


  <h1>Comments</h1>
  <% current_place.comments.each do |comment| %>
    <blockquote><%= comment.message %></blockquote>
    <small><%= Comment::RATINGS.invert[comment.rating] %></small>
    <em><%= comment.user.try(:email) %></em>
    <% if comment.controlled_by?(current_user) && comment.persisted? %>
      <br />
      <%= link_to 'Destroy', comment_path(comment), :method => :delete, :class => 'btn btn-large btn-primary' %>
    <% end %>
    <hr />
  <% end %>
</div>
