<h1><%= current_place.name %></h1>

<%= current_place.description %><br />
<%= current_place.lat %> <br />
<%= current_place.lng %> <br />
  <% if current_place.user.present? %>
    Added by: <%= current_place.user.email %><br />
  <% end %>



<%= link_to '<< Back', places_path %>
<% if current_user && current_user.id == current_place.try(:user_id) %>
<%= link_to 'edit', edit_place_path(current_place) %>
<%= link_to 'destroy', place_path(current_place), :method => :delete %>
<% end %>
